img {
    width: 140px;
    height: 80px;
    margin: auto 15px;
    object-fit: cover;
}

.HinnyariBox {
    position: relative;
    width: 330px;
    height: 115px;
    background-color: #CAF2FF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 5px rgb(199, 199, 199);
}

.icon {
    color: #F02417;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 5px;
    right: 5px;
}

.icon:hover {
    cursor: pointer;
}