.label {
    font-size: 13px;
    text-align: center;
    margin: 10px auto 30px auto;
}

.LoginBox {
    width: 330px;
    height: 330px;
    background: #FEFEFE;
    box-shadow: 1px 1px 3px rgb(190, 190, 190);
}

hr {
    margin: 20px auto;
}

.wrap {
    width: 290px;
    margin: auto;
}

.Button {
    width: 290px;
    height: 30px;
    margin: 15px 0;
}

.InputBox {
    width: 290px;
    height: 35px;
    margin: 15px 0;
}

.GoogleAuthButton {
    margin: 20px auto;
}