.box {
  width: 380px;
  min-height: 30px;
  padding: 0.4rem 0.4rem;
  border: 1px solid #4c4c4d;
  border-radius: 10px;
  background-color: #edf5fd;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.25);
  margin: auto;
  overflow: auto;
}
.margin_whole {
  margin: 10px 10px;
}