.Buttons {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.Buttons>* {
    text-decoration: none;
}

@media screen and (min-width: 500px) {
    .Buttons {
        width: 500px;
    }
}

.Button {
    margin: 50px auto;
    width: 290px;
    height: 40px;
}