img {
    width: 140px;
    height: 80px;
    margin: auto 15px;
}

.HinnyariBox {
    width: 330px;
    height: 115px;
    background-color: #CAF2FF;
    border-radius: 10px;
    display: flex;
    align-items: center;
}