.EvaluationInput {
    width: 220px;
    height: 225px;
    background-color: #A8D4FC;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Button {
    width: 140px;
    height: 30px;
    font-size: 10px;
    border-radius: 20px;
}

.input {
    margin: 0 auto;
    background-color: #D9D9D9;
    border-radius: 10px;
    width: 190px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.stars {
    -webkit-text-stroke: 1px black;
    text-stroke: 1px black;
    width: 150px;
    height: 20px;
}

.stars-box {
    width: 150px;
    height: 20px;
    margin: 0 auto;
    padding-top: 5px;
}

.EvaluationInput div {
    color: #FCFCFC;
    margin: 0 auto;
    text-align: center;
}

.text {
    text-shadow: 1px 1px 2px #555555;
    padding-top: 10px;
}