.EvaluationInput {
    position: relative;
    width: 330px;
    height: 350px;
    background-color: #A8D4FC;
    border-radius: 10px;
}

.Button {
    width: 250px;
    height: 35px;
    font-size: 16px;
    border-radius: 20px;
}

.input {
    margin: 0 auto 0 auto;
    background-color: #D9D9D9;
    border-radius: 10px;
    width: 290px;
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.stars {
    -webkit-text-stroke: 1px black;
    text-stroke: 1px black;
    width: 250px;
    height: 20px;
}

.stars-box {
    width: 250px;
    height: 20px;
    margin: 0 auto;
    padding-top: 5px;
}

.EvaluationInput div {
    color: #FCFCFC;
    margin: 0 auto;
    text-align: center;
}

.text {
    text-shadow: 1px 1px 2px #555555;
    padding-top: 65px;
    padding-bottom: 45px;
    font-size: 25px;
}

.CloseButton {
    position: absolute;
    top: 10px;
    right: 10px;
}