div {
    width: 256px;
    height: 45px;
    border-radius: 20px;
    background-color: #7E98C9;
    color: #FCFCFC;
    line-height: 45px;
    font-size: 16px;
    text-align: center;
}

div:hover {
    cursor: pointer;
}