.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.input-box input {
    padding: 0.8rem 1rem;
    border: 2px solid #e2e8f0;
    border-radius: 1px;
    font-size: 1rem;
    color: #2d3748;
    background-color: #fff;
    transition: border-color 0.3s, box-shadow 0.3s;
    margin: 0;
}

.input-box input::placeholder {
    color: #3a3e44;
}

.input-box input:focus {
    border-color: #63b3ed;
    box-shadow: 0 0 0 3px rgba(99, 179, 237, 0.5);
    outline: none;
}

.input-box input:disabled {
    background-color: #edf2f7;
    color: #a0aec0;
    cursor: not-allowed;
}

.input-box input:read-only {
    background-color: #f7fafc;
    color: #718096;
}