.HinnyariPopUp {
    position: relative;
    width: 330px;
    height: 350px;
    background-color: #D6DCEC;
    padding: 30px 0;
    border-radius: 10px;
    box-shadow: 0 2px 7px rgb(110, 110, 110);
}

.wrap {
    width: 250px;
    margin: auto;
}

img {
    width: 250px;
    height: 144px;
    border-radius: 5px;
    object-fit: cover;
}

.name {
    display: flex;
    height: 45px;
}

.name>* {
    font-size: 16px;
}

.Evaluation {}

.GoogleMapButton {
    margin: 20px auto;
}

.CloseButton {
    position: absolute;
    right: 10px;
    top: 10px;
}

.eval {
    display: flex;
    justify-content: space-between;
}

.MinimumButton {
    width: 70px;
    height: 30px;
}

.EvaluationInput {
    position: fixed;
    left: calc(50vw - 330px / 2);
    top: calc(50vh - 350px / 2);
}