div {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
}

div:hover {
    cursor: pointer;
}

i {
    position: absolute;
    top: 12px;
<<<<<<< HEAD
    left: 5px;
=======
    left: 5.5px;
>>>>>>> feat/PostPopUpComponent
    width: 15px;
    height: 1px;
    display: block;
    background-color: black;
    margin: auto;
}

i:nth-of-type(1) {
    transform: rotate(45deg);
}

i:nth-of-type(2) {
    transform: rotate(135deg);
}