#App {}

#header {
    width: 100vw;
    height: 50px;
    background-color: skyblue;
    text-align: center;
    line-height: 50px;
    color: white;
}

.HinnyariBox {
    margin: 20px auto;
}

.post-list {
    padding-top: 10px;
    padding-bottom: 100px;
}

#PostButton {
    position: fixed;
    bottom: 100px;
    right: 40px;
}