#App {}

#header {
    display: block;
    width: min(100vw, 500px);
    height: 80px;
    border-bottom: solid 1px rgb(179, 179, 179);
}

#header div {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("images/header-trim.png");
    background-repeat: no-repeat;
    /* 画像の繰り返しを指定  */
    background-position: center center;
    /* 画像の表示位置を指定  */
    background-size: contain;
    /* 画像のサイズを指定    */
}

#HinnyariPopUp {
    position: absolute;
    top: calc(50vh - 350px / 2);
    left: calc(50vw - 330px / 2);
}

#HinnyariPopUpBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: #49494980;
}

.HinnyariBox {
    margin: 20px auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
}

.post-list {
    padding-top: 10px;
    padding-bottom: 100px;
}

#PostButton {
    position: fixed;
    bottom: 100px;
    right: 40px;
}

@media screen and (min-width: 500px) {
    #PostButton {
        right: calc((100vw - 500px) / 2 + 40px);
    }
}

.noScroll {
    overflow-y: hidden;
}

.GoogleMap {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
}

#InputSpot {
    z-index: 10;
}

.fade {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100vw;
    height: 100vh;
    background-color: #49494980;
}

.PostPopUp {
    position: fixed;
    left: calc(50vw - 360px / 2);
    bottom: 50px;
    z-index: 20;
}

.Menu {
    z-index: 2;
}