.loading-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: gray;
    text-align: center;
    line-height: 50vW;
    padding-top: 200px;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
}

@media screen and (min-width: 500px) {
    .loading-page {
        width: 500px;
        left: calc((100vw - 500px) / 2);
    }
}

.imgBox {
    display: flex;
    justify-content: center;
    margin-top: 130px;
}

.bear {
    height: auto;
}

.rank {
    display: 100%;
    text-align: right;
    margin: 20px;
    font-size: 25px;
}

.rank span {
    font-size: 25px;
}