* {
    margin: 0;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    font-size: 18px;
}

main {
    width: 100%;
    background-color: #FCFCFC;
    --darkText: #312F2F;
    --lightText: #EFEFEF;
    color: var(--darkText);
    min-height: 100vh;
}