.PostPopUpMap {
    z-index: 2;
    position: relative;
    border-radius: 5px;
}

.CloseButton {
    z-index: 3;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
}

.Button {
    z-index: 30;
    position: absolute;
    bottom: 15px;
    right: 10px;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    background-color: #A8D4FC;
    color: #FCFCFC;
}

.GoogleMap {
    z-index: 2;
    border-radius: 5px;
}

.Label {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
}