.scrollbar {
    height: 350px;
    padding: 2em;
    border: 2px solid #111;
    overflow-y: scroll;
}
.scrollbar::-webkit-scrollbar {
    height: 25px;
    width: 25px;
}
.scrollbar::-webkit-scrollbar-thumb {
    background-color: #000066;
    border-radius: 10px;
} 
.scrollbar::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 10px;
}
.scrollbar__box {
    margin-top: 30px;
}
.scrollbar__box:first-child {
    margin-top: 0px;
}

.scrollbar__detail {
    margin-top: .5em;
}
.wrapper {
  max-width: 1000px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1000px) {
  .wrapper {
    margin-right: 5%;
    margin-left: 5%;
  }
}